table {
  margin: 20px auto;
  th {
    padding: 0 5px;
  }
  td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
  }
}

ul {
  list-style: none;
  margin: 20px;
  color: red;
}

a {
  margin: 20px;
}
